* {
  margin: 0;
  padding: 0;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

main {
  height: 80vh;
  margin: 0.3em 0 0 0.3em;
  display: flex;
}

:root {
  --board-bg: rgb(208, 210, 209);
  --occupied-tile-bg: rgb(100, 100, 100);
  --imperial: #f29b12;
  --continental: #5683ff;
  --festival: #43aa90;
  --worldwide: #2f6f83;
  --american: #0ea5e9;
  --sackson: #b91c1c;
  --tower: #f9735b;
}

.market-notification-players {
  position: relative;
  height: 100%;
  width: 75%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notification-box {
  position: absolute;
  height: 10%;
  width: 20%;
  border: 1px solid black;
}

.tile {
  height: 3.1em;
  width: 3.1em;
  border: 0.2px solid black;
  border-radius: 0.3em;
  background-color: white;
  transition: 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.tile p {
  font-size: 1.3em;
}

.tile:hover {
  cursor: pointer;
}

.board {
  background-color: var(--board-bg);
  display: grid;
  padding: 0.7em;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(9, 1fr);
  gap: 0.5em;
  border-radius: 0.4em;
  margin-top: 5%;
  margin-right: 26%;
}

.tiles-in-market {
  background-color: var(--occupied-tile-bg);
  color: white;
}

.player-market {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5%;
}

.player {
  height: 30px;
  width: 30px;
  border: 1.5px solid black;
  border-radius: 50%;
  margin-top: 50%;
  margin-left: 100%;
}

#player-1 {
  background-color: orange;
}

.bank {
  width: 25%;
  height: 100%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

footer {
  height: 18.3vh;
  border: 1px solid black;
  margin-left: 0.3em;
  width: 99.3%;
  display: grid;
  grid-template-columns: 1fr 7fr 2fr;
}

.amount-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.amount-container p {
  padding: 0.7em 1.4em;
  font-size: 1.4em;
  border: 2px solid black;
}

.stocks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6em;
}

.stock {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  height: 90%;
  width: 10%;
  color: whitesmoke;
}

.stock span {
  justify-self: flex-end;
  font-size: 30px;
}

.stock .stock-heading {
  margin-top: 5px;
}

.tiles {
  height: auto;
  width: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1em;
  margin: auto;
}

.hotel-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 5px;
  width: 60%;
  padding: 5px 10px;
  color: white;
}

.hotel-info h3 {
  font-size: 1.4em;
}

.information {
  display: flex;
  justify-content: space-between;
  font-size: 1.5em;
}

.hotel {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.confirm-btn {
  margin-top: 20px;
  padding: 5px;
  font-size: 1em;
}

.hotel-container {
  width: 20%;
  height: 100%;
  display: inline-block;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.hotel-name {
  text-transform: capitalize;
}

.dim {
  opacity: 30%;
}

@keyframes animateTilesInPlayerHand {
  from {
    background-color: white;
    border: 0.2px solid black;
  }
  to {
    box-shadow: 0 0 7px 3px rgb(108, 93, 93);
  }
}

.tiles-in-player-hand {
  animation: animateTilesInPlayerHand 0.5s alternate-reverse infinite;
}

.imperial {
  background-color: var(--imperial);
}

.imperial-icon {
  background-image: url("/assets/imperial.svg");
}

.continental {
  background-color: var(--continental);
}

.continental-icon {
  background-image: url("/assets/continental.svg");
}

.festival {
  background-color: var(--festival);
}

.festival-icon {
  background-image: url("/assets/festival.svg");
}

.worldwide {
  background-color: var(--worldwide);
}

.worldwide-icon {
  background-image: url("/assets/worldwide.svg");
}

.american {
  background-color: var(--american);
}

.american-icon {
  background-image: url("/assets/american.svg");
}

.sackson {
  background-color: var(--sackson);
}

.sackson-icon {
  background-image: url("/assets/sackson.svg");
}

.tower {
  background-color: var(--tower);
}

.tower-icon {
  background-image: url("/assets/tower.svg");
}

.hotel-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.counter {
  display: flex;
  gap: 15px;
  border: 1px solid white;
  padding: 0.2em;
  border-radius: 5px;
}

.button-container {
  height: 3em;
  width: 10em;
}

.counter button {
  border: none;
  background: none;
  color: white;
}

.hidden {
  display: none;
}
