* {
  margin: 0;
  padding: 0;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

main {
  height: 100vh;
  width: 70%;
  margin: 0.3em 0 0 0.3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

body {
  display: flex;
  background-color: rgb(248 250 252);
}

aside {
  background-color: rgb(199 210 222);
  width: 15%;
  height: 100vh;
}

:root {
  --board-bg: rgb(199 210 222);
  --occupied-tile-bg: rgb(100, 100, 100);
  --imperial: #f29b12;
  --continental: #5683ff;
  --festival: #43aa90;
  --worldwide: #2f6f83;
  --american: #0ea5e9;
  --sackson: #b91c1c;
  --tower: #f9735b;
}

.market-notification-players {
  position: relative;
  height: 62vh;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notification-box {
  position: absolute;
  height: 10%;
  width: 20%;
  border: 1px solid black;
}

.tile {
  height: 3.2em;
  width: 3.2em;
  box-sizing: border-box;
  border-radius: 0.3em;
  background-color: rgb(255 255 255);
  transition: 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: rgb(31 41 55);
}

.tile p {
  font-size: 1.1em;
  font-weight: 600;
}

.tile:hover {
  cursor: pointer;
}

.board {
  background-color: var(--board-bg);
  box-shadow: 0px 0px 20px var(--board-bg);
  display: grid;
  padding: 0.7em;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(9, 1fr);
  gap: 0.4em;
  border-radius: 0.4em;
}

.tiles-in-market {
  background-color: var(--occupied-tile-bg);
  color: white;
}

.players {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.player-market {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5%;
}

.player-profile {
  height: 30px;
  width: 30px;
  border: 1.5px solid black;
  border-radius: 50%;
}

.player-container {
  margin-left: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.active-player {
  background-color: rgb(255, 166, 0);
  transform: scale(1.3);
}

.bank {
  width: 25%;
  height: 100vh;
  box-shadow: -5px 0px 5px -5px gray;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  background-color: white;
}

.context-menu {
  padding-top: 0.4em;
  width: 100%;
  height: 25vh;
  margin-left: 1%;
  box-sizing: border-box;
}

.context-menu > p {
  display: inline;
  font-size: 1.2em;
  color: rgb(49 46 129);
  font-weight: 600;
  border-bottom: 1px solid rgb(49 46 129);
}

.context-menu .build-hotel-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5em;
}

.build-hotel-container .found-hotel-container {
  padding-right: 0.5em;
  box-sizing: border-box;
  height: 2.5em;
  width: 9em;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 3px rgb(0, 0, 0);
  cursor: pointer;
  font-size: 1.2em;
  border-radius: 0.4em;
  text-transform: capitalize;
}

.hotels-container {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0.6em;
}

.build-btn {
  cursor: pointer;
  text-align: center;
  align-self: flex-end;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 1.4em;
  font-weight: 500;
  background-color: rgb(86 130 255);
  color: whitesmoke;
  border: none;
  border-radius: 7px;
  text-transform: capitalize;
}

.build-btn:hover {
  transition: 0.4s;
  transform: scale(1.02);
}

.icon {
  height: 2em;
  width: 2em;
  background-repeat: no-repeat;
  background-size: cover;
}

.buy-stock-container {
  width: 100%;
  height: 90%;
  display: grid;
  grid-template-columns: 7fr 3fr;
}

.stocks-container {
  display: flex;
  justify-content: center;
  margin: auto 0;
  gap: 0.8em;
}

table {
  border-collapse: collapse;
}

.hotel-stock {
  background-color:rgb(238, 237, 237);
  height: 3em;
  transition: 1s;
}

.hotel-stock td {
  padding: 0 0.8em;
  text-transform: capitalize;
  border-bottom: 0.1px solid rgb(210, 209, 209);
  border-right: 0.1px solid rgb(210, 209, 209);
}

.hotel-name {
  text-transform: capitalize;
}

.hotel-stock:nth-child(even) {
  background-color:rgb(247, 247, 247);
}

.hotel-stock:hover {
  background-color: #d7dff3;
}

.cart-container {
  border-left: 1px solid rgb(199 210 222);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.cart-count {
  font-size: 1.3em;
  width: 36%;
  padding: 0.7em 1.2em;
  text-align: center;
  border: none;
  box-shadow: 0 0 2px rgb(169, 169, 169);
}

.cart-total {
  padding: 0.7em 1.2em;
  width: 50%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  box-shadow: 0 0 2px rgb(169, 169, 169);
  font-size: 1.3em;
}

.cart-total p {
  border: none;
}

.user-hand {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 7fr 2fr;
  padding: 5px;
  box-sizing: border-box;
  background-color: white;
  border-bottom: 2px solid rgb(226 232 240);
}

footer {
  width: 100%;
  height: 36.5vh;
  display: flex;
  flex-direction: column;
  box-shadow: 0px -2px 5px -2px rgb(169, 169, 169);
}

.hotels-section {
  display: flex;
}

/* user-hand {
  background-color: whitesmoke;
  padding: 5px;
  height: 15vh;
  box-shadow: 0px 0px 5px gray;
  margin-left: 0.3em;
  width: 99.3%;
  display: grid;
  grid-template-columns: 1fr 7fr 2fr;
} */

.amount-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.amount-container p {
  padding: 0.7em 1.4em;
  font-size: 1.4em;
}

.stocks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.stock {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  height: 80%;
  width: 11%;
  color: whitesmoke;
  border-radius: 5px;
  border: 1px solid rgb(202 213 225);
  box-shadow: 0px 0px 4px rgb(202 213 225);
}

.stock .count {
  justify-self: flex-end;
  font-size: 1.7em;
  color: rgb(30 41 59);
  font-weight: 500;
}

.hotel-name-element {
  font-size: 1.2em;
  font-weight: 700;
}

.stock-price {
  font-size: 1.1em;
  font-weight: 600;
}

.stock .stock-name {
  /* max-width: 4em; */
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 5px;
  font-size: 1em;
  text-transform: capitalize;
  box-sizing: border-box;
  border-radius: 5px 5px 0px 0px;
  text-align: center;
}

.tiles {
  height: auto;
  width: 45%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0.5em;
  margin: auto;
}

.hotel-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 5px;
  width: 60%;
  padding: 5px 10px;
  color: white;
}

.hotel-info h3 {
  font-size: 1.4em;
}

.information {
  display: flex;
  justify-content: space-between;
  font-size: 1.5em;
}

.hotel {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.confirm-btn {
  margin-top: 20px;
  padding: 5px;
  font-size: 1em;
}

.hotel-container {
  /* width: 20%; */
  height: 100%;
  display: inline-block;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}


.active {
  font-weight: 500;
  opacity: 20%;
}

@keyframes animateTilesInPlayerHand {
  from {
    background-color: white;
    border: 0.2px solid black;
  }

  to {
    box-shadow: 0 0 7px 4px rgb(0, 0, 0);
  }
}

.tiles-in-player-hand {
  animation: animateTilesInPlayerHand 0.7s alternate-reverse infinite;
}

.imperial-info {
  border: 1px solid var(--imperial);
  color: var(--imperial);

}

.imperial {
  background-color: var(--imperial);
}

.imperial-icon {
  background-image: url("/assets/imperial.svg");
}

.board-imperial-icon {
  background-image: url("/hotel-on-board/imperial.svg");
}

.continental-info {
  border: 1px solid var(--continental);
  color: var(--continental)
}

.continental {
  background-color: var(--continental);
}

.continental-icon {
  background-image: url("/assets/continental.svg");
}

.board-continental-icon {
  background-image: url("/hotel-on-board/continental.svg");
}

.festival-info {
  border: 1px solid var(--festival);
  color: var(--festival)
}

.festival {
  background-color: var(--festival);
}

.festival-icon {
  background-image: url("/assets/festival.svg");
}

.board-festival-icon {
  background-image: url("/hotel-on-board/festival.svg");
}

.worldwide-info {
  border: 1px solid var(--worldwide);
  color: var(--worldwide)
}

.worldwide {
  background-color: var(--worldwide);
}

.worldwide-icon {
  background-image: url("/assets/worldwide.svg");
}

.board-worldwide-icon {
  background-image: url("/hotel-on-board/worldwide.svg");
}

.american-info {
  border: 1px solid var(--american);
  color: var(--american)
}

.american {
  background-color: var(--american);
}

.american-icon {
  background-image: url("/assets/american.svg");
}

.board-american-icon {
  background-image: url("/hotel-on-board/american.svg");
}

.sackson-info {
  border: 1px solid var(--sackson);
  color: var(--sackson)
}

.sackson {
  background-color: var(--sackson);
}

.sackson-icon {
  background-image: url("/assets/sackson.svg");
}

.board-sackson-icon {
  background-image: url("/hotel-on-board/sackson.svg");
}

.tower-info {
  border: 1px solid var(--tower);
  color: var(--tower)
}

.tower {
  background-color: var(--tower);
}

.tower-icon {
  background-image: url("/assets/tower.svg");
}

.inactive, .inactive-element {
  font-weight: 500;
  opacity: 100%;
  transition: 0.4s;
}

.inactive:hover {
  transform: scale(1.03);
  transition: 0.4s;
}

@keyframes glowInactiveHotels {

  0%,
  100% {
    transform: scale(100%);
  }

  50% {
    transform: scale(120%);
  }
}

.board-tower-icon {
  background-image: url("/hotel-on-board/tower.svg");
}

.hotel-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 0.2em;
  border-radius: 5px;
  font-size: 1.2em;
}

.btns {
  width: 55%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-container button {
  font-size: 1.1em;
  padding: 0.5em 1em;
  border-radius: 0.2em;
  text-transform: capitalize;
  cursor: pointer;
  color: white;
}

.confirm {
  background-color: rgb(146, 115, 248);
  font-weight: 600;
  border: none;
}

.skip {
  background-color: rgb(3, 153, 3);
  font-weight: 500;
  border: 0.5px solid black;
}

.button-container {
  height: 3em;
  width: 10em;
}

.counter button {
  height: 1.5em;
  width: 1em;
  font-size: 1.2em;
  border: none;
  background: none;
  color: black;
}

.hidden {
  display: none;
}

.tiles-in-hand .tile {
  width: 2.8em;
  height: 2.8em;
  box-shadow: 0px 0px 2px black;
}

.players {
  width: 10%;
}

.empty {
  border: 1px dashed black;
}

/* end game scenario */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}

.popup {
  background: white;
  padding: 25px;
  border-radius: 10px;
  width: 340px;
  text-align: center;
  position: relative;

  transform: scale(0.8);
  transition: transform 0.3s ease;
}

.overlay.active .popup {
  transform: scale(1);
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 12px;
  font-size: 18px;
  cursor: pointer;
}

.winner p {
  font-size: 20px;
  font-weight: bold;
  color: #28a745;
}

.players-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.players-table th,
.players-table td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #eee;
}

.notification-container {
  position: absolute;
  top: 10px;
  height: auto;
  min-height: 40px;
  width: 40%;
  padding: 10px;
  border-radius: 8px;
  background: rgb(68, 68, 68);
  color: white;
  font-weight: bold;
  text-align: center;
opacity: 1;
  transition: opacity 1s ease;
  animation: fadeOut 1s ease forwards;
  animation-delay: 3s;
}

/* .animation{
  
} */

.selected {
  transform: scale(1.03);
}

@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#info-table {
  /* border: 1px solid black; */
  margin-top: 1em;
  border-collapse: collapse;
  width: 100%;
  color: rgb(56 54 126);
}

#info-table td {
  border-top: 1px solid rgb(232, 232, 232);
  padding: 10px;
  text-align: center;
  font-weight: 700;
  font-size: 1em;
  text-transform: capitalize;
}

#info-table thead tr th {
  border-top: 1px solid rgb(232, 232, 232);
  padding: 10px;
  text-align: center;
  color: rgb(108, 107, 135);
}

#info-table th {
  text-align: left;
  padding-left: 2em;
}

.hotel-colored-circle {
  width: 10px;
  height: 10px;
  border-radius: 100px;
}

.name-info-section {
  display: flex;
  gap: 1em;
  align-items: center;
}

.market-info-header {
  color: rgb(45 57 75);
}

.bank-header {
  margin-top: 1em;
  padding: 5px;
  display: flex;
  gap: 1em;
  align-items: center;
}

.bank-header img {
  width: 30px;
  height: 30px;
}