* {
  margin: 0;
  padding: 0;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

main {
  height: 83vh;
  margin: 0.3em 0 0 0.3em;
  display: flex;
}

:root {
  --board-bg: rgb(207, 207, 207);
  --occupied-tile-bg: rgb(100, 100, 100);
  --imperial: #f29b12;
  --continental: #5683ff;
  --festival: #43aa90;
  --worldwide: #2f6f83;
  --american: #0ea5e9;
  --sackson: #b91c1c;
  --tower: #f9735b;
}

.market-notification-players {
  position: relative;
  height: 100%;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notification-box {
  position: absolute;
  height: 10%;
  width: 20%;
  border: 1px solid black;
}

.tile {
  height: 3.5em;
  width: 3.5em;
  /* border: 0.2px solid black; */
  box-sizing: border-box;
  border-radius: 0.3em;
  background-color: white;
  transition: 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.tile p {
  font-size: 1.3em;
}

.tile:hover {
  cursor: pointer;
}

.board {
  background-color: var(--board-bg);
  box-shadow: 0px 0px 20px var(--board-bg);
  display: grid;
  padding: 0.7em;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(9, 1fr);
  gap: 0.5em;
  border-radius: 0.4em;
  margin-top: 5%;
  margin-right: 15%;
}

.tiles-in-market {
  background-color: var(--occupied-tile-bg);
  color: white;
}

.players {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.player-market {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5%;
}

.player-profile{
  height: 30px;
  width: 30px;
  border: 1.5px solid black;
  border-radius: 50%;
}

.player-container {
  margin-left: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.active-player {
  background-color: rgb(255, 166, 0);
  transform: scale(1.3);
}

.bank {
  width: 25%;
  height: 99.8%;
  box-shadow: -5px 0px 5px -5px gray;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

footer {
  padding: 5px;
  height: 15vh;
  box-shadow: 0px 0px 5px gray;
  margin-left: 0.3em;
  width: 99.3%;
  display: grid;
  grid-template-columns: 1fr 7fr 2fr;
}

.amount-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.amount-container p {
  padding: 0.7em 1.4em;
  font-size: 1.4em;
  border: 2px solid black;
}

.stocks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6em;
}

.stock {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  height: 90%;
  width: 10%;
  color: whitesmoke;
  border-radius: 5px;
}

.stock .count {
  justify-self: flex-end;
  font-size: 30px;
}

.stock .stock-name {
  margin-top: 5px;
}

.tiles {
  height: auto;
  width: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1em;
  margin: auto;
}

.hotel-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 5px;
  width: 60%;
  padding: 5px 10px;
  color: white;
}

.hotel-info h3 {
  font-size: 1.4em;
}

.information {
  display: flex;
  justify-content: space-between;
  font-size: 1.5em;
}

.hotel {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.confirm-btn {
  margin-top: 20px;
  padding: 5px;
  font-size: 1em;
}

.hotel-container {
  width: 20%;
  height: 100%;
  display: inline-block;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.hotel-name {
  text-transform: capitalize;
}

.dim {
  opacity: 40%;
}

@keyframes animateTilesInPlayerHand {
  from {
    background-color: white;
    border: 0.2px solid black;
  }

  to {
    box-shadow: 0 0 7px 4px rgb(0, 0, 0);
  }
}

.tiles-in-player-hand {
  animation: animateTilesInPlayerHand 0.7s alternate-reverse infinite;
}

.imperial {
  background-color: var(--imperial);
}

.imperial-icon {
  background-image: url("/assets/imperial.svg");
}

.board-imperial-icon {
  background-image: url("/hotel-on-board/imperial.svg");
}

.continental {
  background-color: var(--continental);
}

.continental-icon {
  background-image: url("/assets/continental.svg");
}

.board-continental-icon {
  background-image: url("/hotel-on-board/continental.svg");
}

.festival {
  background-color: var(--festival);
}

.festival-icon {
  background-image: url("/assets/festival.svg");
}

.board-festival-icon {
  background-image: url("/hotel-on-board/festival.svg");
}

.worldwide {
  background-color: var(--worldwide);
}

.worldwide-icon {
  background-image: url("/assets/worldwide.svg");
}

.board-worldwide-icon {
  background-image: url("/hotel-on-board/worldwide.svg");
}

.american {
  background-color: var(--american);
}

.american-icon {
  background-image: url("/assets/american.svg");
}

.board-american-icon {
  background-image: url("/hotel-on-board/american.svg");
}

.sackson {
  background-color: var(--sackson);
}

.sackson-icon {
  background-image: url("/assets/sackson.svg");
}

.board-sackson-icon {
  background-image: url("/hotel-on-board/sackson.svg");
}

.tower {
  background-color: var(--tower);
}

.tower-icon {
  background-image: url("/assets/tower.svg");
}

.board-tower-icon {
  background-image: url("/hotel-on-board/tower.svg");
}

.hotel-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.counter {
  display: flex;
  gap: 15px;
  border: 1px solid white;
  padding: 0.2em;
  border-radius: 5px;
}

.button-container {
  height: 3em;
  width: 10em;
}

.counter button {
  border: none;
  background: none;
  color: white;
}

.hidden {
  display: none;
}

.blur {
  border: 1px dashed black;
  content-visibility: hidden;
  background: none;
}

.tiles-in-hand .tile {
  border: 1px solid black;
}

.players {
  width: 10%;
}