body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  background:white;
  margin: 0;
  padding: 0;
  text-align: center;
  color: black;
}

header {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 20px;
  font-size: 24px;
  letter-spacing: 2px;
}

.lobby-id-box {
  margin-top: 50px;
  display: inline-flex;
  gap: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #f5f5f5;
  font-family: monospace;
  font-size: large;
}

button {
  cursor: pointer;
}

#players-name-display {
  margin-top: 30px;
}

#players-list {
  list-style: none;
  padding: 0;
}

#players-list li {
  background: rgba(0, 0, 0, 0.3);
  margin: 10px auto;
  padding: 12px;
  width: 250px;
  border-radius: 10px;
  font-size: 18px;
}

.waiting-container {
  margin-top: 40px;
}

.spinner {
  margin: 20px auto;
  width: 50px;
  height: 50px;
  border: 6px solid rgba(255, 255, 255, 0.3);
  border-top: 6px solid black;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.starting-container {
  margin-top: 40px;
}

#start-btn{
  padding: 10px 20px;
  border-radius: 5%;
  border: 1px solid black;
  background-color: greenyellow;
  color: black;
  font-size: large;
}

.progress-bar {
  width: 300px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  margin: 20px auto;
  overflow: hidden;
}

.progress {
  height: 100%;
  width: 0%;
  background-color:  black;
  animation: load 3s linear forwards;
}

@keyframes load {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}